<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/cglib-nodep-2.1_3.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/common-annotations.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/aspectjweaver.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/c3p0-0.9.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/log4j-1.2.15.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/aspectjrt.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/commons-lang.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/commons-logging.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>